Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/MetaXRAudio/Source/MetaXRAudio/MetaXRAudio.Build.cs
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/IMetaXRAudioPlugin.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/LibMetaXRAudio/include/MetaXR_Audio.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/LibMetaXRAudio/include/MetaXR_Audio_AcousticRayTracing.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/LibMetaXRAudio/include/MetaXR_Audio_Errors.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/LibMetaXRAudio/include/MetaXRAudio_Defaults.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/LibMetaXRAudio/include/MetaXRAudio_Types.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticControlZone.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticGeometry.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticMap.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticMaterial.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticMaterialProperties.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAcousticProjectSettings.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAmbisonicSpatializer.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudio.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudio.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioAcousticSettings.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioContext.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioContext.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioContextManager.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioDllManager.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioDllManager.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioLogging.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioMixer.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioPlatform.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioReverb.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioRoomAcousticProperties.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioSettings.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioSourceSettings.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioSpectrum.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/MetaXRAudioUtilities.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Private/Tests/MetaXRAudioPluginTest.cpp
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/IMetaXRAudioPlugin.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticControlZone.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticGeometry.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticMap.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticMaterial.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticMaterialProperties.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAcousticProjectSettings.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAmbisonicSpatializer.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAmbisonicsSettings.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioAcousticSettings.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioContextManager.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioEditorInfo.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioMixer.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioReverb.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioRoomAcousticProperties.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioSettings.h
Plugins/MetaXRAudio/Source/MetaXRAudio/Public/MetaXRAudioSourceSettings.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/MetaXRAudioEditor.Build.cs
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/IMetaXRAudioEditorPlugin.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticControlZoneVisualizer.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticGeometryDetails.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticMapDetails.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticMaterialDetails.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticMaterialPropertiesFactory.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAcousticMaterialPropertiesFactory.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAmbisonicSettingsFactory.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAmbisonicSettingsFactory.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioEditorHelpers.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioEditorMode.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioEditorMode.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioRoomAcousticVisualizer.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioSourceSettingsFactory.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioSourceSettingsFactory.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/MetaXRAudioSpectrumCustomization.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/SpectrumWidget.cpp
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Private/SpectrumWidget.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/IMetaXRAudioEditorPlugin.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAcousticControlZoneVisualizer.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAcousticGeometryDetails.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAcousticMapDetails.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAcousticMaterialDetails.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAudioRoomAcousticVisualizer.h
Plugins/MetaXRAudio/Source/MetaXRAudioEditor/Public/MetaXRAudioSpectrumCustomization.h
